# PHP/vendor
assistpro-backend/vendor/
assistpro-backend/codes/vendor/

# Node modules (যদি ফ্রন্টএন্ডে থাকে)
assistpro-frontend/node_modules/

#Env files
assistpro-backend/codes/.env*
assistpro-frontend/.env*

# Docker artifacts
*.log
*.cache
docker-compose.override.yml

# IDE / OS files
*.DS_Store
.vscode/
.idea/
